body {
  background-color: bisque;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

#timer {
  font: "Arial";
  color: black;
  font-style: inherit;
}

#images {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

#timeSel, #foodSel {
  font: "Arial";
  color: black;
  margin-top: 50px;
}

#time {
  border: 1px solid;
  border-color: black;
  background-color: darksalmon;
  width: 150px;
  height: 40px;
}

#foodType {
  border: 1px solid;
  border-color: black;
  background-color: blanchedalmond;
  width: 300px;
  height: 40px;

}

button {
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  width: 150px;
  height: 40px;
  margin-top: 20px;
}
